# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
.env

# Distribución / Metadatos
*.egg-info/
.eggs/
dist/
build/

logs/*
!logs/.gitkeep

tmp/*
!tmp/.gitkeep

notebooks/*
!notebooks/.gitkeep
